*::after,*::before,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header , main , footer{
  width: 100%;
  height: auto;
}

.container{
  width: 1400px;
  height: auto;
  background-color: crimson;
  margin: 0 auto;
  padding: 0 20px;
  
}

section{
  background-color: lime;
  height: 500px;
}
