.home{
   height: 98vh;
   // background-image:url("https://picsum.photos/id/344/800/800");
   background-color: rgb(9, 107, 149);
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
}