.act{
   background-color: rgb(230, 51, 51);
   color:#fff;
}

.page-links{
   padding: 5px;
   background-color: lime;
   margin: 2px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.page-items{
   color:#000;
   font-weight: 900;
}